{% extends "base.twig" %}

{% block content %}
<h2>Code</h2>
This is a list of my projects pulled directly from GitHub. They are sorted in descending order after the most recent updated.<br /><br />

You can donate to me via <i class="icon-btc"></i>itcoin address 13hRKYkHNbKx76JfCwVANRYXHziuG2yuyJ

{% for project in projects %}
<div class="project">
	<div class="header">
		<h3 class="title">
			<a href="{{ project.url }}">{{ project.name }}</a>
		</h3>
		{% for tag in project.tags %}
		<span class="lang {{ tag }}">{{ tag }}</span>
		{% endfor %}
	</div>
	<div class="description">{{ project.desc }}</div>
</div>
{% else %}
	Something went terribly wrong.
{% endfor %}
{% endblock %}
