{% extends "base.twig" %}

{% block content %}
<h2>Code</h2>
This is a list of my projects pulled directly from GitHub. They are sorted in descending order after the most recent updated.<br /><br />

You can donate to me via <i class="icon-btc"></i>itcoin address 13hRKYkHNbKx76JfCwVANRYXHziuG2yuyJ

{% for repo in repos %}
<div class="project">
	<div class="header">
		<h3 class="title">
			<a href="{{ repo.html_url }}">{{ repo.name }}</a>
			{% if repo.fork %}
				<i class="icon-code-fork"></i>
			{% endif %}
		</h3>
		{% for lang in langs[repo.name] %}
		<span class="lang {{ lang }}">{{ lang }}</span>
		{% endfor %}
	</div>
	<div class="description">{{ repo.description }}</div>
</div>
{% else %}
	Something went terribly wrong.
{% endfor %}
{% endblock %}